version: '3.9'

services:
  arcane_app:
    build: .
    image: arcan/app:latest
    container_name: arcan_app
    restart: always
    expose:
      - "3000"
      
    environment:
      - VIRTUAL_HOST=arcan.helveit.ch
      - LETSENCRYPT_HOST=arcan.helveit.ch
      - LETSENCRYPT_EMAIL=info@arcan.ch
      - VIRTUAL_PORT=3000
      # Le mot de passe est injecté depuis le fichier .env.local (non versionné)
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    
    # Charge les variables depuis le fichier .env.local s'il existe
    env_file:
      - .env.local
    
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true